.search-box {
    width: 70%;
    height: 50px;
    line-height: 50px;
    background-color: #90A4AE;
    box-sizing: border-box;
    padding-left: 15px;
    cursor: pointer;
    font-size: 25px;
    color: #fff;

    &:hover, &.focus {
         color: #000 !important;
         background-color: #fff !important
    }
}